<% layout('layouts/boilerplate') %>
<div class="container-fluid">
  <div class="row">
    <!-- Sidebar -->
    <%- include('../partials/products/sidebar') %>
    <!-- Main content -->
    <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
      <h1 class="h2 mt-4">Sales</h1>

      <div class="row my-4">
        <% for(let p of allProducts){ %>
        <div class="col-md-3">
          <div class="card text-center shadow-sm">
            <div class="card-body">
              <h5 class="card-title"><%= p.name %></h5>
              <p class="card-text display-6"><%= p.price %></p>
              <button
                id=""
                class="btn add-to-cart"
                data-id="<%= p._id %>"
                data-name="<%= p.name %>"
                data-price="<%= p.price %>"
                data-stock="<%= p.stock %>"
              >
                Add
              </button>
            </div>
          </div>
        </div>
        <% } %>
      </div>
    </main>
    <!-- Right Sidebar: Cart Display -->
    <div id="cart">
      <h3>Cart</h3>
      <ul id="cart-items"></ul>
      <p>Total: <span id="cart-total">0</span></p>
      <p>Profit: <span id="cart-profit">0</span></p>
    </div>
  </div>
</div>

<script src="/js/sales.js"></script>
